//////rules//////
=============================

all decisions are transparently documented through github
all collaborators can propose further developnent actions
all collaborators can propose compensations based on how much contributions one has made
all new members must go through a nomination process. time must be set aside for other members to object or approve. 
all existing members, when being excluded from the collective, must go through a public discussion period. time will be set aside for other members to object or approve.
all above rules can be discussed, modified, expanded or reduced. one member must propose change. time must be set aside for other members to object or approve. 



//////current member contributions//////
=============================

overall organization and grantmaking: Yang, Zhenzhen and Xinyi
script writing: xinyi, jiatang, renyue
scene design: ziyang, huiqi, jiajune
development: yang, zhenzhen
documentation: wenwen
story contribution(ordered ahphabetically): huiqi, jiajune, jiatang, peiyue, renyue, wenwen, Xinyi, Yang, Zhenzhen, ziyang.  


//////future tasks//////
=============================

further scene design and development
english dialogue translation
gather text and visual input from residents of Brooklyn



//////Compensation//////
=============================

A grant from Brooklyn Arts Fund in the amount of $5000 has been assigned to support the development of this collective art game. 
Each member will self propose a percentage of compensation for self, as well as a percentage of fund set aside for future development
all percentages will be discussed and approved by all members of the collective. 
The list below is ordered ahphabetically. please assign a percentage next to your own name. 

huiqi, %; future development fund to be set aside, %
jiajune, %; future development fund to be set aside, %
jiatang, %; future development fund to be set aside, %
peiyue, %; future development fund to be set aside, %
renyue, %; future development fund to be set aside, %
wenwen %; future development fund to be set aside, %
xinyi, %; future development fund to be set aside, %
yang, %; future development fund to be set aside, %
zhenzhen, %; future development fund to be set aside, %
ziyang, %; future development fund to be set aside, %
